In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
data.info(())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
# missing values in each column
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
# distribution of legit and fraudulent transaction
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [7]:
#seperating data
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [8]:
print(legit.shape,fraud.shape)

(284315, 31) (492, 31)

In [9]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
# compare values for both transaction
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under-sampling

build a sample dataset containing similar distribution of normal and fraudalent transaction
Number of fraudalant transaction = 492

In [12]:
legit_sample = legit.sample(n=492)

In [13]:
#concanatinmg two data set
df = pd.concat([legit_sample,fraud],axis = 0)
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
89132,62440.0,-1.065682,1.225237,1.434769,-0.581327,0.101980,-0.721008,0.514357,0.350528,-0.770405,...,-0.192450,-0.812468,-0.200971,-0.129838,0.313254,0.042425,-0.136234,-0.018203,1.79,0
104940,69297.0,1.276014,-0.672705,-0.425494,-0.777398,-0.582088,-0.880396,-0.103505,-0.203036,-1.241653,...,0.256003,0.408211,-0.274815,0.028707,0.743485,-0.087089,-0.054869,-0.000007,92.68,0
157072,109463.0,-0.317202,1.070870,0.138569,-0.173519,0.308527,-1.173072,1.031676,-0.312604,1.094670,...,0.274317,1.392739,0.055519,0.534600,-0.825099,-0.305736,0.614108,0.358774,38.23,0
273437,165587.0,2.062781,-0.168869,-0.729689,0.039198,0.046223,0.040729,-0.414819,-0.045695,1.138833,...,-0.156679,-0.273709,0.279176,0.012023,-0.198037,-0.918825,0.063181,-0.024279,1.00,0
121932,76373.0,-2.612299,-0.348260,1.346331,-0.407670,0.954306,-0.865407,0.938943,-0.330892,0.034879,...,-0.636763,-0.662938,0.793265,-0.066059,0.526914,0.023036,0.010116,-0.326678,44.99,0

In [14]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,...,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000
mean,86333.461382,-2.380215,1.767374,-3.540488,2.270745,-1.522284,-0.672158,-2.824288,0.294064,-1.332808,...,0.355237,0.029935,-0.017196,-0.065711,0.031092,0.016812,0.094755,0.027488,102.569289,0.500000
std,47469.251095,5.533564,3.733014,6.214942,3.204364,4.228128,1.780816,5.830505,4.890862,2.289547,...,2.780967,1.166982,1.188998,0.577631,0.665810,0.474776,1.005039,0.427942,222.371829,0.500254
min,406.000000,-30.552380,-11.349710,-31.103685,-3.838025,-22.105532,-6.406267,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.541474,-4.781606,-1.255235,-7.263482,-2.260319,0.000000,0.000000
25%,45869.000000,-2.939486,-0.231729,-5.138122,-0.136409,-1.774345,-1.599839,-3.107826,-0.191029,-2.324444,...,-0.157752,-0.507584,-0.255934,-0.403344,-0.320602,-0.296336,-0.059497,-0.059680,1.000000,0.000000
50%,78524.500000,-0.736592,0.968696,-1.419319,1.380650,-0.409926,-0.639088,-0.716324,0.163747,-0.773543,...,0.157976,0.053311,-0.033742,-0.004016,0.052677,-0.029397,0.042349,0.029711,15.725000,0.500000
75%,129945.500000,1.080633,2.814266,0.327225,4.250632,0.494301,0.109062,0.228613,0.867753,0.088090,...,0.648533,0.567171,0.185901,0.367050,0.401687,0.303328,0.454884,0.188068,99.990000,1.000000
max,172356.000000,2.334606,22.057729,2.827994,12.114672,11.095089,6.474115,5.802537,20.007208,4.609397,...,27.202839,8.361985,6.389925,1.133652,2.208209,2.745261,3.052358,1.784166,2125.870000,1.000000

In [15]:
df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91920.115854,0.011518,-0.089029,-0.047695,-0.000540,0.106657,0.053421,-0.079845,0.017493,-0.084493,...,0.009494,-0.003115,0.045820,0.005915,-0.026292,0.020735,-0.018024,0.018935,-0.020692,82.927256
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
X = df.drop(columns = 'Class',axis = 1)
Y = df['Class']

In [18]:
print(X,Y)

            Time        V1        V2        V3        V4        V5        V6  \
89132    62440.0 -1.065682  1.225237  1.434769 -0.581327  0.101980 -0.721008
104940   69297.0  1.276014 -0.672705 -0.425494 -0.777398 -0.582088 -0.880396
157072  109463.0 -0.317202  1.070870  0.138569 -0.173519  0.308527 -1.173072
273437  165587.0  2.062781 -0.168869 -0.729689  0.039198  0.046223  0.040729
121932   76373.0 -2.612299 -0.348260  1.346331 -0.407670  0.954306 -0.865407
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
89132   0.514357  0.350528 -0.770405  ... -0.159455 -0.192450 -0.812468
104940 -0.103505 -0.203036 -1.241653  ...  0.181507  0.256003  0.408211
157072  1.031676 -0.312604  1.094670  ...  0.077357  0.274317  1.392739
273437 -0.414819 -0.045695  1.138833  ... -0.096654 -0.156679 -0.273709
121932  0.938943 -0.330892  0.034879  ... -1.014421 -0.636763 -0.662938
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
89132  -0.200971 -0.129838  0.313254  0.042425 -0.136234 -0.018203    1.79
104940 -0.274815  0.028707  0.743485 -0.087089 -0.054869 -0.000007   92.68
157072  0.055519  0.534600 -0.825099 -0.305736  0.614108  0.358774   38.23
273437  0.279176  0.012023 -0.198037 -0.918825  0.063181 -0.024279    1.00
121932  0.793265 -0.066059  0.526914  0.023036  0.010116 -0.326678   44.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns] 89132     0
104940    0
157072    0
273437    0
121932    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [19]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [20]:
print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(787, 30) (787,) (197, 30) (197,)

In [21]:
# Model training

In [22]:
# logistic Regression

In [54]:
model = LogisticRegression()

In [55]:
model.fit(X_train,Y_train)

LogisticRegression()

In [56]:
# evaluation

In [57]:
X_train_prediction=model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)
print(training_data_accuracy)

0.9123252858958069

In [58]:
X_test_prediction=model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)
print(test_data_accuracy)
print(precision_score(Y_test,model.predict(X_test)))

0.8883248730964467
0.9222222222222223

In [28]:
a = X_test.iloc[0]
a=np.array(a)
a.reshape(1,30)

array([[ 1.53761000e+05,  1.14625927e+00,  1.40345824e+00,
        -4.15914819e+00,  2.66010706e+00, -3.23216827e-01,
        -1.83607089e+00, -1.62374006e+00,  2.59562498e-01,
        -1.13204415e+00, -3.35647371e+00,  3.64647784e+00,
        -3.00268416e+00, -6.47500580e-01, -5.94500331e+00,
         1.74650037e-01, -1.47563951e+00, -3.08227353e+00,
         2.24739755e-01, -3.00930779e-01,  2.84830656e-01,
         5.64449516e-01,  4.45743912e-01, -1.41136197e-01,
        -2.65517116e-01,  3.62259920e-01, -4.16062098e-01,
         5.07369853e-01,  2.43744114e-01,  5.13700000e+01]])

In [29]:
model.predict([a])[0]

C:\Users\Abhishek Rai\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1

In [30]:
Y_test

247995    1
27324     0
207233    0
185560    0
15451     1
         ..
108258    1
12108     1
99506     1
74496     1
19342     0
Name: Class, Length: 197, dtype: int64

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
model = DecisionTreeClassifier(random_state=0, max_depth=4)

In [33]:
model.fit(X_train,Y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

In [35]:
X_test_prediction=model.predict(X_test)
test_data_accuracy = accuracy_score(model.predict(X_test),Y_test)
print(test_data_accuracy)

0.9187817258883249

In [50]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score

In [51]:
model = RandomForestClassifier()

In [52]:
model.fit(X_train,Y_train)

RandomForestClassifier()

In [53]:
X_test_prediction=model.predict(X_test)
test_data_accuracy = accuracy_score(model.predict(X_test),Y_test)
print(test_data_accuracy)
print(precision_score(Y_test,model.predict(X_test)))

0.9238578680203046
0.9662921348314607

In [41]:
from sklearn.svm import SVC
model = SVC(kernel='sigmoid', gamma=1)
model.fit(X_train,Y_train)
X_test_prediction=model.predict(X_test)
test_data_accuracy = accuracy_score(model.predict(X_test),Y_test)
print(test_data_accuracy)

0.49746192893401014

In [42]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,Y_train)
X_test_prediction=model.predict(X_test)
test_data_accuracy = accuracy_score(model.predict(X_test),Y_test)
print(test_data_accuracy)

0.6903553299492385